<ng-progress id="progressBar" 
            [color]="progressBar.currentColor"></ng-progress>

            <ngx-alerts></ngx-alerts>
<mat-toolbar class="app-toolbar">
  <mat-toolbar-row  >
      <a class="nav-link" 
      [routerLink]="['']"
      routerLinkActive="active">
        <button mat-icon-button>
            <mat-icon>dynamic_feed</mat-icon>
        </button>
        <span>Dynamo Crypto</span>
      </a>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <!-- should only be visible to customers -->
            <button mat-icon-button (click)="login()">  
                <mat-icon>login</mat-icon>
            </button>
        </li>

        <li>
          <!-- should only be visible to customers -->
          <button mat-icon-button (click)="register()">  
            <mat-icon>person outline</mat-icon>
          </button>
          <!-- <button class="btn btn-primary" (click)="register()">  
            <mat-icon>person outline</mat-icon>
          </button> -->
        </li>

       
        </ul>
      </div>

      <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" *ngIf="loggedIn()"> -->
        <!-- should only be visible to customers -->
        <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                  
                  <button mat-icon-button>  
                      <mat-icon>settings</mat-icon>
                  </button>
              </li>
              <li>
                  <button mat-icon-button>
                      <mat-icon>help_outline</mat-icon>
                  </button>
              </li>
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person outline</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <mat-icon>exit_to_app</mat-icon>
                      sign out
                  </button>
                  </mat-menu>
              </li>
          </ul>
      </div> -->
  </mat-toolbar-row>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
            <span class="material-icons">
                dynamic_feed
            </span>
            Dynamo Crypto</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 

            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" 
              [routerLink]="['register']"
              routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
              [routerLink]="['login']"
              routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          [routerLink]="['reset-password']"
          routerLinkActive="active">Reset Password</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->

 