ul li{
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.profileHeadText a{
    color: black;

}

.profileHeadText a:hover{
    text-decoration: underline;
}

.app-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
    background-color: #7b27d8;
}

mat-toolbar{
    width: 100%;
}

