/* #exampleModal{
  height: 90vh;
  width: 80vh;
} */

.accountCard{
  margin-bottom: 10px;
}

.accountCard button{
  margin-right: 10px;
}


.accordion {
    margin-top: 50px;
    margin-bottom: 20px;
}

.assetCard {
  margin: 0px 0px 20px 0px;

}

.vl {
    border-left: 6px solid green;
    height: inherit;
    margin: 10px 0px 10px 0px;
}

/* .ast {
      margin-top: 35px;
      font-size: large;
  } */

.mvmt svg {
    /* margin-top: 35px; */
    color: green;
}

.buySection{
  margin-top: 25px;
}

.movingAdsTabs{
  height: 400px;
}

.panels{
  margin: 0px 0px 0px 0px;
}

.DesktopCard {
  margin: 0px 5px 5px 0px;

} 

.SmallDeviceCard {
  margin: 0px 0px 30px 0px;
}

.coinNameSection{
  margin-left: 10px;
  margin-top: 13px;
  font-size: 30px;
  font-style: italic;
}

.buyCustomFooter{
  margin-left: 1px;
}

.buyCustomFooter button {
  margin-right: 10px;
}

.smFooter button{
  margin-right: 10px;
}

.btcPriceFnt{
  font-size: 30px;
}

.favCoin:hover{
  color: blue;
}

.smFooter svg:hover{
  color: blue;
}

.subText{
  font-size: 15px;
}

.bodyImg {
  margin-left: 150px;
  /* float: right; */
}

.removeLink{
  float: right;
  color: red;
}

.removeLink:hover{
  color: yellow;
}



/* contact style */

.contactSection{
  height: 90vh;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
/* body {
  font-family: "open sans";
  color: #444;
  font-size: 1em;
} */
.contactSection .container {
  padding: 15px;
}

.contactSection .clearfloat {
  content: '';
  display: block;
  clear: both;
}
.contactSection .cards {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contactSection .cards li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.contactSection .cards li:after,
.contactSection .cards li:before {
  content: '';
  display: block;
  clear: both;
}

.contactSection .cards li img {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 150px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.contactSection .cards li .details {
  float: left;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px rgba(0, 0, 0, 0);
  min-width: 250px;
}

.contactSection .cards li .details > span,
.contactSection .cards li .details > a {
  display: block;
  padding: 0 15px 0 35px;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
}
.contactSection .cards li .details > span:before,
.contactSection .cards li .details > a:before {
  display: inline-block;
  font: normal normal normal 13px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 15px;
  width: 15px;
  text-align: center;
  color: #444;
}
.contactSection .cards li .details a {
  color: #57893c;
  transition: color 0.5s ease-in-out;
}
.contactSection .cards li .details a:hover,
.contactSection  .cards li .details a:focus {
  color: #97c77e;
  transition: color 0.5s ease-in-out;
}
.contactSection .cards li .details .name {
  font-weight: 600;
}

.contactSection .cards li .details .name:before {
  content: "\f2c0";
}

.contactSection .cards li .details .title:before {
  content: "\f2c1";
}

.contactSection .cards li .details .phone:before {
  content: "\f095";
}

.contactSection .cards li .details .email:before {
  content: "\f003";
}

.contactSection .cards li:hover {
  background: rgba(235, 237, 189, 0.5);
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}

.contactSection .cards li:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease-in-out;
}

.contactSection .cards li:hover .details {
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px #dfe295;
}
@media (max-width: 550px) {
  .contactSection .cards li {
    display: block;
    width: auto;
    max-width: 200px;
    margin: 30px auto;
  }

  .contactSection .cards li img,
  .contactSection .cards li .details {
    float: none;
  }
  .contactSection .cards li img {
    margin: 0 auto;
  }

  .contactSection .cards li .details {
    margin-top: 20px;
    text-align: center;
    min-width: 0;
  }
  .contactSection .cards li .details span,
  .contactSection .cards li .details a {
    padding: 0;
    white-space: break-all;
    word-wrap: break-word;
  }
  .contactSection .cards li .details span:before,
  .contactSection .cards li .details a:before {
    display: none;
  }
}



/* contact cards end */
