.accordion{
    margin-top: 50px;
    margin-bottom: 20px;
}

.assetCard{
    margin-bottom: 20px;
}

.vl {
    border-left: 6px solid green;
    height: inherit;
    margin: 10px 0px 10px 0px;
    }

  .ast{
      margin-top: 35px;
      font-size: large;
  }

  .mvmt svg{
    margin-top: 35px;
    color: green;
  }

  .mvmt p{
    color: green;
  }