<div class="row">
    <div class="col-md-6 offset-md-3 mt4">
        <h3>Login</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
           
            <!-- <p>Form value: {{ f.value | json }}</p>
            <p>Form valid: {{ f.valid }}</p> -->
            
            <div class="form-group">
              <label for="loginUsername">Username</label>
              <input 
                    type="text" 
                    name="username" 
                    ngModel 
                    required 
                    #username="ngModel"
                    class="form-control" 
                    id="loginUsername"
                    placeholder="Enter username">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    
                    <!-- <p>Username value: {{ username.value }}</p>
                    <p>Username valid: {{ username.valid }}</p>
                    <p>Username dirty: {{ username.dirty }}</p>
                    <p>Username touched: {{ username.touched }}</p> -->
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input 
                    type="password" 
                    name="password" 
                    ngModel 
                    required 
                    #password="ngModel"
                    class="form-control" 
                    id="loginPassword" 
                    placeholder="Enter password">

                    <!-- <p>Password value: {{ password.value }}</p>
                    <p>Password valid: {{ password.valid }}</p>
                    <p>Password dirty: {{ password.dirty }}</p>
                    <p>Password touched: {{ password.touched }}</p> -->
            </div>

            <div class="form-group">
                <a [routerLink]="['../reset-password']">Forgot Password</a>
                
                <br>
                <button type="submit"
                [disabled]="f.invalid"
                        class="btn btn-primary">
                        Login
                        <span class="material-icons">
                            login
                        </span>
                </button>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
    </div>
</div>