<div class="box">
        <h2>Login</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="inputBox" >
            <!-- <label for="loginUsername">Username</label> -->
            <input 
                type="text" 
                class="form-control" 
                name="username" 
                required
                ngModel 
                #username="ngModel"
                >

                <label for="">Username</label>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                
                <!-- <p>Username value: {{ username.value }}</p>
                <p>Username valid: {{ username.valid }}</p>
                <p>Username dirty: {{ username.dirty }}</p>
                <p>Username touched: {{ username.touched }}</p> -->
        </div>

        <div class="inputBox">
            <!-- <label for="loginPassword">Password</label> -->
            <input 
                type="password" 
                class="form-control"
                name="password" 
                ngModel 
                required 
                #password="ngModel"
                >

                <label for="">Password</label>
                <!-- <p>Password value: {{ password.value }}</p>
                <p>Password valid: {{ password.valid }}</p>
                <p>Password dirty: {{ password.dirty }}</p>
                <p>Password touched: {{ password.touched }}</p> -->
        </div>

        <div class="inputBox">
            <a class="rst" (click)="reset()">Forgot Password</a>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid" value="">Submit</button>

        <!-- <input type="submit" [disabled]="f.invalid" name="" value="Submit"> -->
    </form>

</div>